*{
    padding:0;
    margin:0;
    box-sizing: 0;
    overflow-x: hidden;
    font-family:sans-serif;
}
body{
    height:100vh;
    width: 100vw;
}
header{
    width:100vw;
    height: 69px;
    display: flex;
    border: 0px 0px 1px 0px;
    padding:16px 64px 16px 64px;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid#D6DEE5;
    background-color: #FFFFFF;

}
.container{
    width: 100vw;
    height:651px;
    top: 66px;
    display: flex;
}
.left-container{
    width:768px;
    height: 654px;
    padding: 184px 32px 0px 32px;
    gap: 16px;
    background-color: #ECF8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-container{
    height: auto;
    width: auto;
    padding: 24px;
    gap: 16px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c2{
    display: flex;
    justify-content: space-between;
}
#text-area{
    border-radius: 7px;
    height:220px;
    width:450px;
}

#post-button{
    height:35px;
    width:100px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-weight:bolder;
    border: 1px;
    cursor: pointer;
}
#post-heading{
    position:relative;
    right: 100px;
}
#word-count{
    position: relative;
    left:50px;
}

#created-post{
    height:150px;
    width:500px;
    background-color:rgb(248, 251, 253);
    position:relative;
    left:100px;
    box-shadow: 2px solid black;
}
h3{
    position: relative;
    right:200px;
    bottom: 20px;
}